<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Backend Training Frontend</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reverse">
                C1 (path parameters)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="imaexp">
                C2 (query parameters)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collatz">
                C3 (data validation)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="curitiba">
                C4 (http requests)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cities">
                C5 (database access)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create">
                C6 (body parameters)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="changepass">
                C7 (patch)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="secure">
                C8 (security)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                C9 (auth)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                Challenge 10
            </NavLink>
        </div>
    </nav>
</div>